<div class="container-fluid">
  <%= render 'layouts/nav' %>

  <div class="row">
    <%= render "admin/sidebar" %>

    <div class="col-8">

      <%= form_with url: admin_comments_search_path, method: :get, local: true, class:"form-inline" do |f| %>
        <%= f.text_field :keyword, placeholder:"コメントを検索", value: @keyword, class:"form-control mr-sm-2 col-9 offset-1" %>
        <%= f.submit "検索", class:"btn btn-outline-success col-1" %>
      <% end %>

      <div class="container mt-4">
        <% @posts.each do |post| %>
          <div class="row mb-2">
            <div class="col-1 offset-1 mr-3">
              <%= attachment_image_tag User.find(post.user_id), :image, :fill, 70, 70, fallback: "no_image.png", size: "70x70", style: "border-radius: 50%;" %>
            </div>
            <div class="col-8 d-flex align-items-center">
              <h6><%= post.title %></h6>
            </div>
          </div>
          <% post.comments.each do |com| %>
            <div class="row mb-1">
              <div class="col-1 offset-2">
                <%= attachment_image_tag User.find(com.user_id), :image, :fill, 50, 50, fallback: "no_image.png", size: "50x50", style: "border-radius: 50%;" %>
              </div>
              <div class="col-8 d-flex align-items-center">
                <%= com.body %>
              </div>
              <div class="col-1 d-flex align-items-center">
                <%= link_to "削除", admin_comment_path(com), method: :delete, data: { confirm: "この投稿を削除しますか？" }, class: "btn btn-danger btn-sm text-light" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>