<p><%= @user.name %> さん</p>
<p>
  こんにちは、QuestionApp運営局です！<br>
  ただいま<%= User.find(@comment.user_id).name %>さんが回答しました<br>
  <%= link_to "こちら", "http://localhost:3000/posts/#{@post.id}" %>から確認してください！
</p>
<br>
<p>======================</p>
<p>質問タイトル: <%= @post.title %></p>
<p>回答者: <%= User.find(@comment.user_id).name %></p>
<p>回答: <%= @comment.body %></p>
<p>======================</p>
