<h1>Posts#index</h1>

<ul class="nav">
  <li class="nav-item">
    <%= link_to "ユーザー一覧", users_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "質問一覧", posts_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <% if session[:user_id] %>
      <%= link_to "ユーザー設定", edit_user_path(session[:user_id]), class: "nav-link" %>
    <% end %>
  </li>
</ul>
<%= link_to "全て", posts_path %>
<%= link_to "未解決", unsolved_path %>
<%= link_to "解決済み", solved_path %>
<br>
<%= link_to "質問する", new_post_path %>
<br>
<% if session[:user_id] %>
  <%= link_to "ログアウト", logout_path, method: :delete %>
<% else %>
  <%= link_to "ログイン", login_path %>
<% end %>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
</form>

<% @posts.each do |post| %>
  <% if post.user_id %>
    <%= attachment_image_tag User.find(post.user_id), :image, :fill, 150, 150, fallback: "no_image.png" %>
  <% else %>
    <%= image_tag "no_image.png" %>
  <% end %>
  <%= link_to post.title, post_path(post) %> ID: 
  <% if post.user_id == 0 %>
    匿名ユーザー
  <% else %>
    <%= post.user_id %>
  <% end %> 
  <br>
<% end %>