<%= render 'layouts/nav' %>

<% if session[:user_id] == @post.user_id %>
  <%= link_to "編集", edit_post_path(@post), class: "btn btn-success btn-sm" %>
  <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger btn-sm" %>
  <% if @post.solved == false %>
    <%= link_to "解決した", solved_button_path(@post), method: :post, data: { confirm: "解決済みにしますか？" } %>
  <% else %>
    <p>解決済み</p>
  <% end %>
<% else %>
  <% if @post.solved == false %>
    <p>未解決</p>
  <% else %>
    <p>解決済み</p>
  <% end %>
<% end %>
<br>
<%= @post.title %>
<br>
<%= @post.body %>
<br>
<%= @post.user_id %>
<br>
<%= link_to "質問一覧へ", posts_path %>
<br>
<%= form_with(model:[@post, @comment], method: :post) do |f| %>
  <%= f.text_area :body %>
  <%= f.submit "回答" %>
<% end %>

<h2>回答一覧</h2>
<% @comments.each do |comment| %>
  <%= User.find(comment.user_id).name %>
  <%= comment.body %>
  <br>
<% end %>